In [1]:
# import libraries
import pandas as pd # type: ignore
import os

In [2]:
# let's take a look at a dataset sample
loan_df = pd.read_csv("datasets/emprestimos-20201.csv")
loan_df.head(10)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,2962509,2007005628,NaN,2020/01/02 08:17:30.290000000,2020/01/07 11:14:07.000000000,2.018103e+10,ALUNO DE PÓS-GRADUAÇÃO
1,2962510,L202802,NaN,2020/01/02 08:17:30.391000000,2020/01/07 11:14:17.000000000,2.018103e+10,ALUNO DE PÓS-GRADUAÇÃO
2,2962511,2012008328,NaN,2020/01/02 08:17:30.436000000,2020/01/07 11:24:46.000000000,2.018103e+10,ALUNO DE PÓS-GRADUAÇÃO
3,2962512,2012055016,2020/01/17 09:56:18.380000000,2020/01/02 08:36:40.163000000,2020/01/31 14:53:52.000000000,2.019015e+10,ALUNO DE GRADUAÇÃO
4,2962513,L197391,2020/01/17 23:50:18.862000000,2020/01/02 09:36:03.877000000,2020/01/24 08:18:19.000000000,2.018005e+10,ALUNO DE GRADUAÇÃO
5,2962514,2016030245,2020/01/17 23:50:18.835000000,2020/01/02 09:36:03.938000000,2020/01/24 08:18:13.000000000,2.018005e+10,ALUNO DE GRADUAÇÃO
6,2962515,L153495,2020/01/15 08:47:19.222000000,2020/01/02 09:51:24.086000000,2020/01/28 12:00:15.000000000,1.756546e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
7,2962516,2008053151,2020/01/15 08:47:19.200000000,2020/01/02 09:51:24.121000000,2020/01/28 12:00:22.000000000,1.756546e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
8,2962517,2016035640,2020/01/15 08:47:19.174000000,2020/01/02 09:51:24.156000000,2020/01/29 12:18:08.000000000,1.756546e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
9,2962518,2011038368,2020/02/01 09:32:51.636000000,2020/01/02 09:54:30.086000000,2020/07/27 11:39:16.000000000,1.986240e+08,DOCENTE

In [3]:
# we have multiple CSVs, so we need to concatenate them into one single dataframe
data_path = "datasets/"
files = os.listdir(data_path)
loan_df = pd.read_csv(data_path+"emprestimos-20101.csv")
len_dfs = []
for file in files:
    if file.endswith(".csv"):
        path = data_path+file
        temp_df = pd.read_csv(path)
        len_dfs.append(len(temp_df))
        loan_df = pd.concat([loan_df, temp_df], ignore_index=True)

In [4]:
len(len_dfs)

21

In [5]:
# make sure that the concatenated dataframe got all of the data from the single dataframes
print(sum(len_dfs))
print(len(loan_df))

2258018
2353375

In [6]:
# we also want to get rid of the columns we are not interested in
loan_df = loan_df.drop(["id_emprestimo"], axis=1)

loan_df.head(10)

,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
5,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
6,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
7,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
8,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO
9,L157395,2010/01/19 15:59:26.447000000,2010/01/04 08:27:33.596000000,2010/02/03 13:06:43.125000000,2.009046e+09,ALUNO DE GRADUAÇÃO

In [7]:
# import books data
book_df = pd.read_parquet('datasets/dados_exemplares.parquet')
book_df.head(10)

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15
7,13,L000924,Dissertações,Biblioteca Central Zila Mamede,REGULAR,651,18
8,12,L000056,Dissertações,Biblioteca Central Zila Mamede,NÃO CIRCULA,647,18
12,19,L116810_23/09/2020 00:01:33,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,661,32
13,20,L000088,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,683,33
14,21,L117745,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,655,35

In [8]:
# let's also get rid of some columns
book_df = book_df.drop(["id_exemplar", "registro_sistema"], axis=1)
book_df.head(10)

,codigo_barras,colecao,biblioteca,status_material,localizacao
index,,,,,
0,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694
1,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688
2,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638
3,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616
5,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657
7,L000924,Dissertações,Biblioteca Central Zila Mamede,REGULAR,651
8,L000056,Dissertações,Biblioteca Central Zila Mamede,NÃO CIRCULA,647
12,L116810_23/09/2020 00:01:33,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,661
13,L000088,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,683
14,L117745,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,655

In [9]:
# now we can merge both datasets into a single one
df = pd.merge(loan_df, book_df, on='codigo_barras', how='inner')
print(len(df))
df.head(10)

2151968

,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,colecao,biblioteca,status_material,localizacao
0,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630
1,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647
2,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640
3,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609
4,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630
5,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647
6,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640
7,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609
8,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686
9,L157395,2010/01/19 15:59:26.447000000,2010/01/04 08:27:33.596000000,2010/02/03 13:06:43.125000000,2.009046e+09,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,698

In [10]:
# checking if we have duplicated rows
sum(df.duplicated())

79540

In [11]:
# removing duplicated rows
df = df[~df.duplicated()].copy()
df.reset_index(drop=True, inplace=True)

In [12]:
# checking missing values
df.isnull().sum()

codigo_barras                 0
data_renovacao          1162040
data_emprestimo               0
data_devolucao             6178
matricula_ou_siape         2893
tipo_vinculo_usuario          0
colecao                       0
biblioteca                    0
status_material               0
localizacao                   0
dtype: int64

In [13]:
# localization column groups
localization_classes = {
    "0": "Generalidades. Ciência e conhecimento",
    "1": "Filosofia e psicologia",
    "2": "Religião",
    "3": "Ciências sociais",
    "4": "Não definida",
    "5": "Matemática e ciências naturais",
    "6": "Ciências aplicadas",
    "7": "Belas artes",
    "8": "Linguagem. Língua. Linguística",
    "9": "Geografia. Biografia. História" 
}

def group_loc(cod): 
    num = str(int(cod/100)) # reduce the number to the interval 0 - 9
    return localization_classes[num]

In [ ]:
# creating a new column using the localization classes
df["classe_localizacao"] = df["localizacao"].apply(group_loc)

In [15]:
# we need to convert the "matricula_ou_siape" column into String type
df["matricula_ou_siape"] = df["matricula_ou_siape"].apply(lambda x: str(x)[:-2])
df

,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,colecao,biblioteca,status_material,localizacao,classe_localizacao
0,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas
1,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
2,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2008112114,ALUNO DE PÓS-GRADUAÇÃO,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas
3,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,200721119,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,Ciências aplicadas
4,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2009045971,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686,Ciências aplicadas
...,...,...,...,...,...,...,...,...,...,...,...
2072423,L133454,NaN,2011/12/30 17:38:05.838000000,2012/01/30 13:38:38.000000000,2010210883,ALUNO DE PÓS-GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,654,Ciências aplicadas
2072424,2008053028,2012/01/30 09:07:40.289000000,2011/12/30 17:42:51.232000000,2012/02/29 13:39:55.000000000,1755267,DOCENTE,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,635,Ciências aplicadas
2072425,2008053053,2012/01/30 09:06:19.941000000,2011/12/30 17:42:51.274000000,2012/02/13 14:28:37.000000000,1755267,DOCENTE,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,662,Ciências aplicadas
2072426,2010066523,2012/01/15 19:06:56.012000000,2011/12/30 17:46:47.021000000,2012/01/19 11:30:36.000000000,2011056198,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,604,Ciências aplicadas
2072427,2011039654,2012/01/30 20:39:45.804000000,2011/12/30 18:21:00.366000000,2012/03/02 16:44:11.000000000,2011114424,ALUNO DE PÓS-GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,639,Ciências aplicadas

In [16]:
df.nunique()

codigo_barras            238217
data_renovacao           908884
data_emprestimo         2068691
data_devolucao          2044372
matricula_ou_siape       100560
tipo_vinculo_usuario          8
colecao                      16
biblioteca                   22
status_material               3
localizacao                 900
classe_localizacao            9
dtype: int64